# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# SQLite Database
database/*.db

# Logs
*.log

# Uploaded Files
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db